/* ============= ROOT PAGE ============= */
/* COLOR */
:root {
  --black: black;
  --white: white;
  --blue-light: #2d69bc;
  --blue-dark: #183661;
  --grey-ligth: #c6c5c3;
  --grey-dark: #b2b0ae;
  --orange-light: #ff9b0f;
  --orange-dark: #ff6405;

  /* HOVER OVERLAY */
  --img-transition: 0.3s;
  --img-hidden: hidden;
  --img-scale: scale(1.1);
}

/* ============= BASE PAGE ============= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 3rem 0 0 0;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.main {
  overflow-x: hidden;
}

/* ============= CSS CLASSES PAGE ============= */
.section {
  margin: 4rem 0;
}

.container {
  margin: 0 1rem;
}

/* ============= HEADER PAGE ============= */
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  height: 4rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* ============= NAV PAGE ============= */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  margin: 0 2.5rem;
}

.nav__logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--white);
}

.differencecolor__logo {
  color: var(--blue-dark);
}

.nav__toggle {
  color: var(--white);
  font-size: 1rem;
  cursor: pointer;
}

.differencecolor__toggle {
  color: var(--blue-dark);
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: var(--white);
    backdrop-filter: 100px;
    top: 0;
    right: -100%;
    width: 65%;
    height: 100%;
    box-shadow: -1px 0 4px rgba(14, 55, 63, 0.15);
    padding: 2rem;
    transition: 0.4s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  margin-top: 2.5rem;
}

.nav__link {
  color: var(--blue-dark);
  font-weight: 600;
}

/* .nav__link:hover {
  color: var(--blue-light);
} */

.nav__close {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  font-size: 1.5rem;
  color: var(--blue-dark);
  cursor: pointer;
}

/* SHOW NAVBAR */
.show-menu {
  right: 0;
}

/* .active-link {
  position: relative;
  color: var(--blue-light);
} */

/* .active-link::before {
  content: "";
  position: absolute;
  background-color: var(--blue-light);
  width: 100%;
  height: 1px;
  bottom: -0.25rem;
  left: 0;
} */

/* SHOW CHANGE COLOR NAV */
.scroll-header {
  background-color: var(--white);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.scroll-header .nav__logo,
.scroll-header .nav__toggle {
  color: var(--blue-dark);
}

/* ============= HOME PAGE ============= */
.home__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: 40%;
}

.home__container {
  position: relative;
  height: calc(100vh);
  align-content: center;
}

.home__data {
  margin-left: 1rem;
}

.home__subtitle {
  display: block;
  color: var(--white);
  font-size: 2.5rem;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.8);
}

.home__title {
  font-size: 1.1rem;
  color: var(--white);
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.8);
}

.home__button {
  background-color: var(--orange-dark);
  padding: 0.6rem 1rem;
  transition: 0.3s;
  border-radius: 20px;
  outline: none;
  border: none;
  margin-top: 0.5rem;
}

.home__button:hover {
  background-color: var(--orange-light);
}

.home__button a {
  color: var(--white);
  font-size: 0.8rem;
  letter-spacing: 1px;
}

/* WHATSAPP POP UP */
.whatsapp-btn-container {
  position: fixed;
  right: 1px;
  bottom: -100px;
  padding: 24px;
  z-index: 7;
  opacity: 0;
  animation: fade-up 3000ms forwards;
}

.whatsapp-btn-container span {
  color: var(--black);
}

.whatsapp-us-btn {
  font-size: 50px;
  color: #25d366;
  display: inline-block;
  transition: all 200ms;
}

.whatsapp-btn-container .whatsapp-us-btn:hover {
  transform: scale(1.1);
}

.whatsapp-btn-container span {
  display: inline-block;
  position: absolute;
  top: -5px;
  left: 4px;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  /* transform: rotate(0deg) translateX(0px); */
  opacity: 0;
  transition: all 200ms;
}

.whatsapp-btn-container .whatsapp-us-btn:hover + span {
  opacity: 1;
}

@keyframes fade-up {
  100% {
    bottom: -25px;
    opacity: 1;
  }
}

/* ============= BEST SELLER PAGE ============= */
.bestseller__container {
  overflow: hidden;
}

.bestseller__data .bestseller__title {
  text-align: center;
  font-size: 2.5rem;
  color: var(--blue-dark);
  letter-spacing: 1px;
  margin: 0 1rem;
}

.bestseller__data .bestseller__subtitle {
  color: var(--grey-dark);
  text-align: center;
  font-size: 1.1rem;
  margin: 0 1rem;
}

.bestseller__card {
  margin: 1rem 0;
}

.bestseller__img {
  width: 300px;
  transition: var(--img-transition);
  border-radius: 20px;
}

.bestseller__img:hover {
  transform: var(--img-scale);
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-container {
  position: relative;
}

.swiper-pagination {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.swiper-pagination-bullet {
  background: var(--blue-dark);
  border-radius: 50%;
  width: 5px;
  height: 5px;
  margin: 0 5px;
  opacity: 0.4;
  z-index: 1;
}

.swiper-pagination-bullet-active {
  width: 7px;
  height: 7px;
  opacity: 1;
  background: #007bff;
}

/* ============= JOURNEY PAGE ============= */
.journey__container {
  margin: 0;
  padding: 1rem 0;
  background-color: var(--blue-dark);
}

.journey__header {
  text-align: center;
  color: var(--grey-dark);
}

.journey__title {
  font-size: 2.5rem;
  color: var(--white);
}

.journey__subtitle span {
  font-size: 1.2rem;
  font-weight: 900;
  color: var(--white);
}

.journey__img {
  margin: 1rem 0;
  width: 300px;
  transition: var(--img-transition);
}

.journey__img img {
  width: 100%;
}

.journey__img-overlay:hover {
  transform: var(--img-scale);
}

/* ============= REVIEW PAGE ============= */
.review__container {
  overflow: hidden;
  margin-top: 2rem;
}

.review__title {
  text-align: center;
  font-size: 2.5rem;
  color: var(--blue-dark);
  letter-spacing: 1px;
  margin: 0 1rem;
}

.review__subtitle {
  color: var(--grey-dark);
  text-align: center;
  font-size: 1.1rem;
  margin: 0 1rem;
}

.review__card-main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 300px;
  height: 350px;
  padding: 10px 20px;
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 1.2rem 0;
}

.review__img-cust {
  width: 70px;
  border-radius: 100%;
}

.review__content {
  font-size: 0.9rem;
}

.review__data {
  font-size: 0.8rem;
}

.review-pagination {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.review-pagination .swiper-pagination-bullet {
  background: var(--blue-dark);
  border-radius: 50%;
  width: 5px;
  height: 5px;
  margin: 0 5px;
  opacity: 0.4;
  z-index: 1;
}

.review-pagination .swiper-pagination-bullet-active {
  width: 7px;
  height: 7px;
  opacity: 1;
  background: #007bff;
}

/* ============= CUSTOMER PAGE ============= */
.customer__container1 {
  margin: 0;
  padding: 2rem 0;
  background-color: var(--blue-dark);
}

.customer__title {
  text-align: center;
  font-size: 2.5rem;
  color: var(--white);
  letter-spacing: 1px;
  margin: 0 1rem;
}

.customer__subtitle {
  color: var(--grey-dark);
  text-align: center;
  font-size: 1.1rem;
  margin: 0 1rem;
}

.customer__data {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.customer__content {
  border-radius: 5px;
  display: flex;
  width: 70px;
  height: 70px;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
}

.customer__img {
  width: 60px;
  transition: var(--img-transition);
}

.customer__img:hover {
  transform: var(--img-scale);
}

/* ============= MENU PAGE ============= */
.menu__main {
  margin-top: 5.5rem;
}

.menu__available {
  padding: 1rem;
  background-color: var(--blue-dark);
}

.menu__availabletitle {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__availabletitle h1 {
  font-size: 2.5rem;
  color: var(--white);
}

.menu__availablecard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.5rem;
}

.menu__availablecard > div {
  display: flex;
  margin: 0.5rem;
  background-color: white;
  border-radius: 10px;
  width: 150px;
  height: 40px;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.menu__availablecard img {
  width: 100px;
  overflow: hidden;
}

.menu__availablecard .whatsapp img {
  width: 25px;
}

.menu__availablecard .whatsapp p {
  font-size: 0.8rem;
  font-weight: 700;
  color: rgb(34, 191, 34);
  padding: 0.5rem;
}

.menu__search {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  margin: 2rem 0 1rem;
}

.menu__container .menu__search .search__container {
  width: 300px;
  height: 35px;
  border-radius: 5px;
  padding: 0 5px;
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  border: 1px solid #c7c7c7;
}

.menu__container .menu__search .search__container i {
  font-size: 15px;
  margin-left: 10px;
  color: #a7a7a7;
}

.menu__container .menu__search .search__container input {
  width: 230px;
  background-color: #f6f6f6;
  margin-left: 10px;
  border: none;
  outline: none;
}

.menu__clearbutton {
  right: 100px;
  top: 50%;
  transform: translateX(-10%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 25px;
  display: none;
}

.menu__clearbutton.show {
  display: block;
}

.menu__container .menu__dropdown {
  margin-left: 1rem;
  width: 150px;
}

.menu__dropdown p {
  font-size: 0.8rem;
  font-weight: 600;
}

.menu__dropdown .menu__dropbtn {
  background-color: #f6f6f6;
  padding: 6px 16px;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  cursor: pointer;
}

.menu__dropdown .menu__dropdowncontent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  max-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.menu__dropdowncontent .menu__filter,
.menu__dropdowncontent .menu__sort {
  padding: 5px;
}

.menu__dropdown .menu__dropdowncontent button {
  background-color: white;
  border: none;
  width: 100%;
  text-align: left;
  padding: 10px;
  cursor: pointer;
}

.menu__dropdown .menu__dropdowncontent button:hover {
  background-color: #ddd;
}

.menu__dropdown:hover .menu__dropdowncontent,
.menu__dropdown .menu__dropdowncontent.show {
  display: block;
}

.menu__button span {
  font-size: 0.8rem;
  color: #9a9a9a;
}

.hidden {
  display: none;
}

.hide {
  display: none;
}

.menu__button {
  cursor: pointer;
}

.menu__content .menu__filtercard {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  gap: 1rem;
  padding: 2rem 1rem;
}

.menu__filtercard .menu__card {
  padding: 3px;
  border-radius: 5px;
  pointer-events: none;
  height: max-content;
  overflow: hidden;
}

.menu__cardimg {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
  position: relative;
  background-color: var(--wht);
  border-radius: 10px;
}

.menu__card img {
  width: 100%;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.menu__carddetail {
  padding: 3px;
}

.menu__carddetail .menu__price {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.menu__carddetail h3 {
  font-size: 1rem;
}

.menu__carddetail p {
  font-size: 0.8rem;
}

.menu__carddetail span {
  color: white;
  padding: 3px 10px;
  font-weight: 400;
  border-radius: 10px;
  font-size: 0.7rem;
}

.menu__carddetail .label__vegetablesspan {
  color: white;
  padding: 3px 10px;
  font-weight: 400;
  border-radius: 10px;
  font-size: 0.7rem;
}

.menu__carddetail .label__meat {
  background-color: #b22222;
}

.menu__carddetail .label__fruits {
  background-color: #3f3fef;
}

.menu__carddetail .label__chicken {
  background-color: #c69e6a;
}

.menu__carddetail .label__vegetables {
  background-color: #008000;
}

.menu__carddetail .label__vegetablesspan {
  background-color: #008000;
}

.menu__carddetail {
  text-align: start;
}

.menu__card .menu__carddetail h3 {
  color: var(--bl);
}

.menu__card .menu__carddetail p {
  color: var(--bl);
  font-size: 0.8rem;
}

/* ============= STORE PAGE ============= */
.store {
  margin-top: 5.5rem;
}

.store__main {
  min-height: 100vh;
  margin-bottom: -5px;
  content: "";
  display: block;
}

.store__header {
  box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--blue-dark);
}

.store__header h1 {
  text-align: center;
  font-size: 2.5rem;
  color: var(--white);
  padding-top: 0.5rem;
  letter-spacing: 3px;
}

.store__title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.5rem;
  gap: 0.5rem;
}

.store__data {
  width: max-content;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.store__data img {
  width: 20px;
  margin-bottom: 0.5rem;
  left: 3px;
}

.store__data h2 {
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--black);
}

.store__search__dropdown {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  margin: 2rem 0 1rem;
}

.store__container .store__search__dropdown .store__search__container {
  width: 300px;
  height: 35px;
  border-radius: 5px;
  padding: 0 5px;
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  border: 1px solid #c7c7c7;
}

.store__container .store__search__dropdown .store__search__container i {
  font-size: 15px;
  margin-left: 15px;
  color: #a7a7a7;
}

.store__container .store__search__dropdown .store__search__container input {
  width: 230px;
  background-color: #f6f6f6;
  margin-left: 10px;
  border: none;
  outline: none;
}

.store__clear__button {
  right: 100px;
  top: 50%;
  transform: translateX(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 30px;
  display: none;
}

.store__container .store__dropdown {
  margin-left: 1rem;
  width: 150px;
}

.store__dropdown p {
  font-size: 0.8rem;
  font-weight: 600;
}

.store__dropdown .store__dropbtn {
  background-color: #f6f6f6;
  padding: 6px 16px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #c7c7c7;
}

.store__dropdown .store__dropdown__content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.store__dropdown__content span {
  font-size: 0.8rem;
  color: #9a9a9a;
}

.store__dropdown__content .store__filter__options,
.store__dropdown__content .store__sort__options {
  padding: 10px;
}

.store__dropdown .store__dropdown__content button {
  background-color: var(--white);
  border: none;
  width: 100%;
  text-align: left;
  padding: 10px;
  cursor: pointer;
}

.store__dropdown .store__dropdown__content button:hover {
  background-color: #ddd;
}

.store__filter__card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  gap: 2rem;
  padding: 2rem 1rem;
}

.store__card {
  padding: 3px;
  border-radius: 10px;
  position: relative;
  height: 100%;
  overflow: hidden;
}

.store__card__img {
  border-radius: 10px;
  background-color: var(--white);
  text-align: center;
}

.store__card__img img {
  width: 100px;
}

.store__card__detail {
  text-align: start;
  padding: 5px;
  line-height: 1.3rem;
  padding-bottom: 35px;
  color: var(--black);
}

.store__card p {
  font-size: 0.8rem;
}

.store__card__viewdetail {
  position: absolute;
  bottom: 0;
  left: -1px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  padding: 5px;
  background-color: var(--orange-dark);
  transition: 0.1s ease-in-out;
  box-sizing: border-box;
  justify-content: center;
}

.store__card__viewdetail a {
  display: inline-block;
  width: 100%;
  font-size: 0.8rem;
  color: var(--white);
}

/* STORE CLASS FROM JAVASCRIPT */
.store__dropdown:hover .store__dropdown__content,
.store__dropdown .store__dropdown__content.show {
  display: block;
}

.store__dropdown__content.store__hidden {
  display: none;
}

.store__clear__button.show {
  display: block;
}

.store__filter__card .store__card.hide {
  display: none;
}

/* STORE POP UP */
.store__popup {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 5;
}

.store__popup__content {
  width: fit-content;
  height: fit-content;
  background-color: #f2f2f2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.25);
  transition: all 0.5s 0.2s;
  opacity: 0;
}

.store__popup__text {
  font-size: 0.8rem;
  color: #737373;
  padding: 1rem 2rem;
}

.store__popup__close:link,
.store__popup__close:visited {
  position: absolute;
  top: 12px;
  right: 20px;
  text-decoration: none;
  color: var(--black);
  font-size: 35px;
  display: inline-block;
  line-height: 1;
  transition: all 0.1s ease-in-out;
}

.store__popup__close:hover,
.store__popup__close:active {
  font-size: 35px;
}

#store-gri:target {
  opacity: 1;
  visibility: visible;
}

#store-gri:target .store__popup__content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

#store-sby1:target {
  opacity: 1;
  visibility: visible;
}

#store-sby1:target .store__popup__content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

#store-sby2:target {
  opacity: 1;
  visibility: visible;
}

#store-sby2:target .store__popup__content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

#store-pim:target {
  opacity: 1;
  visibility: visible;
}

#store-pim:target .store__popup__content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

#store-stb:target {
  opacity: 1;
  visibility: visible;
}

#store-stb:target .store__popup__content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

#store-pzi:target {
  opacity: 1;
  visibility: visible;
}

#store-pzi:target .store__popup__content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

#store-psg:target {
  opacity: 1;
  visibility: visible;
}

#store-psg:target .store__popup__content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

#store-ppl:target {
  opacity: 1;
  visibility: visible;
}

#store-ppl:target .store__popup__content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

#store-mta:target {
  opacity: 1;
  visibility: visible;
}

#store-mta:target .store__popup__content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

#store-lmp:target {
  opacity: 1;
  visibility: visible;
}

#store-lmp:target .store__popup__content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

#store-lmk:target {
  opacity: 1;
  visibility: visible;
}

#store-lmk:target .store__popup__content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

#store-hkg:target {
  opacity: 1;
  visibility: visible;
}

#store-hkg:target .store__popup__content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

#store-grl:target {
  opacity: 1;
  visibility: visible;
}

#store-grl:target .store__popup__content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

/* ============= ABOUT PAGE ============= */
.about {
  height: 100vh;
}

.about__header {
  padding: 1rem;
  margin: 5rem 0 2rem;
  background-color: var(--blue-dark);
  color: var(--white);
  display: flex;
  justify-content: center;
}

.about__header h1 {
  font-size: 2.5rem;
}

.about__content {
  display: flex;
}

.about__detail {
  border-radius: 10px;
  display: flex;
  margin: 0 1rem;
  padding: 2rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.about__detail p {
  font-size: 1rem;
}

/* ============= CONTACT PAGE ============= */
.contact__header {
  margin-top: 5rem;
  padding: 1rem;
  text-align: center;
  background-color: var(--blue-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.contact__header h3 {
  color: var(--white);
  font-size: 1rem;
  font-weight: 400;
}

.contact__header h2 {
  color: var(--white);
  font-size: 2rem;
  text-transform: uppercase;
  padding: 0.4rem 0;
  letter-spacing: 4px;
}

.contact__info {
  margin: 3rem 0;
  padding: 1.5rem 1rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.contact__info span {
  font-size: 1.5rem;
  padding: 1rem 0.8rem;
  color: var(--black);
}

.contact__info span i {
  font-size: 1rem;
  padding-bottom: 0.9rem;
  color: var(--black);
}

.contact__info a {
  font-size: 0.8rem;
  padding: 0.8rem 0.8rem;
  color: var(--black);
}

.contact__info .no__cursor {
  pointer-events: none;
}

.contact__form__container {
  margin: 3rem 0;
  padding-top: 1rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.contact__form__container h4 {
  padding-left: 2rem;
  color: var(--gry);
  font-size: 1.5rem;
}

.contact__form {
  display: grid;
  grid-template-rows: 40px 40px 150px 40px;
  grid-template-columns: 250px 250px;
  column-gap: 5px;
  row-gap: 5px;
  padding: 1rem 2rem 2rem;
}

.form__email {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
}

.form__message {
  grid-row: 3 / 3;
  grid-column: 1/ 3;
}

.form__control {
  width: 100%;
  border: 1.5px solid #c7c7c7;
  border-radius: 5px;
  margin: 0.6rem 0;
  padding: 0.5rem;
  font-size: 0.8rem;
  outline: 0;
}

.form__control:focus {
  box-shadow: 0 0 6px -3px rgba(48, 48, 48, 1);
}

.contact__btn {
  font-size: 0.8rem;
  text-transform: uppercase;
  background: var(--orange-dark);
  color: var(--white);
  border: none;
  border-radius: 5px;
  padding: 0.5rem 0.8rem;
  cursor: pointer;
  transition: all 0.4s ease;
}

.contact__btn:hover {
  background-color: var(--orange-light);
}

.contact__form__img {
  background-color: rebeccapurple;
}

/* ============= FOOTER PAGE ============= */
.footer {
  margin-top: 2rem;
  border-top: 1px solid var(--grey-ligth);
}

.footer__container {
  display: grid;
  margin-bottom: 3rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.footer__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  row-gap: 2rem;
  margin-top: 1rem;
}

.footer__title {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 5px;
  color: var(--grey-dark);
}

.footer__description {
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--grey-dark);
}

.footer__contact {
  display: flex;
  margin-bottom: 0.5rem;
}

.footer__contact p {
  margin-left: 10px;
}

.footer__contact span {
  color: var(--grey-dark);
  font-size: 1.1rem;
}

.footer__link a {
  font-size: 0.9rem;
  color: var(--grey-ligth);
}

.footer__link a:hover {
  color: var(--grey-dark);
}

.footer__rights {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  padding: 10px 0;
  text-align: center;
  border-top: 1px solid var(--grey-ligth);
}

.footer__copy,
.footer__terms-link {
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--grey-dark);
}

.footer__terms {
  display: flex;
  column-gap: 1.5rem;
  justify-content: center;
}

/* SCROLL UP */
.scrollup {
  position: fixed;
  right: 50%;
  bottom: -20%;
  background-color: var(--orange-light);
  padding: 0.3rem;
  display: flex;
  opacity: 0.7;
  z-index: 1;
  transition: 0.4s;
}

.scrollup:hover {
  background-color: var(--orange-light);
  opacity: 1;
}

.scrollup__icon {
  color: var(--white);
  font-size: 1rem;
}

.show-scroll {
  bottom: 20px;
}

/* SCROLL BAR */
::-webkit-scrollbar {
  width: 0.7rem;
  background-color: white;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: rgb(144, 144, 144);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(181, 181, 181);
}

/* ============= MEDIA QUERIES PAGE ============= */
/* For small devices */
@media screen and (max-width: 340px) {
  .home__data {
    margin: 0;
  }
  .home__container {
    height: calc(100vh);
  }
  .journey__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .journey__header {
    padding: 1rem;
  }
  .menu__search {
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 1rem;
  }
  .search__container {
    margin: auto;
  }
  .menu__dropdown {
    margin: auto;
  }
  .menu__content .menu__filtercard {
    grid-template-columns: repeat(1, 1fr);
  }
  .store__search__dropdown {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .store__content .store__filter__card {
    grid-template-columns: repeat(1, 1fr);
  }
  .contact__form {
    grid-template-rows: 40px 40px 150px 40px;
    grid-template-columns: max-content;
  }
  .contact__info a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .contact__info span,
  .contact__info i {
    padding: 0;
    margin: 0;
  }
  .about__content {
    flex-wrap: wrap;
  }
}

/* For medium devices */
@media screen and (min-width: 341px) and (max-width: 767px) {
  .section__title1,
  .section__title2 {
    margin: 0 2rem;
  }
  .section__title2 {
    margin-bottom: 1rem;
  }
  .nav__list {
    margin-top: 2.5rem;
  }
  .home__data {
    width: 70%;
  }
  .journey__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .journey__header {
    margin-bottom: 1rem;
  }
  .customer__data {
    margin: 2rem 0;
  }
  .menu__content .menu__filtercard {
    grid-template-columns: repeat(2, 1fr);
  }
  .store__content .store__filter__card {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer__content {
    grid-template-columns: repeat(1, 1fr);
  }
  .contact__info a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .contact__info span,
  .contact__info i {
    padding: 0;
    margin: 0;
  }
  .contact__form {
    grid-template-rows: 40px 40px 150px 40px;
    grid-template-columns: max-content;
  }
  .about__content {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .nav__link {
    color: var(--white);
    text-transform: initial;
  }
  .differencecolor__list li a {
    color: var(--blue-dark);
  }
  /* .nav__link:hover {
    color: var(--grey-ligth);
  } */
  .nav__menu {
    display: flex;
    column-gap: 1rem;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 1.5rem;
    margin-top: 0;
  }
  .nav__toggle,
  .nav__close {
    display: none;
  }
  .active-link::before {
    background-color: var(--grey-ligth);
  }
  .scroll-header .nav__link {
    color: var(--blue-dark);
  }
  .scroll-header .nav__link:hover {
    color: var(--blue-light);
  }
  .scroll-header .active-link {
    color: var(--blue-dark);
  }
  .scroll-header .active-link::before {
    background-color: var(--blue-ligth);
  }
  .home__data {
    width: 65%;
  }
  .bestseller__container {
    margin-top: 2rem;
  }
  .journey__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .journey__title {
    margin-bottom: 0.5rem;
  }
  .journey__header .journey__title,
  .journey__subtitle {
    width: 450px;
    text-align: initial;
  }
  .menu__content .menu__filtercard {
    grid-template-columns: repeat(4, 1fr);
  }
  .store__content .store__filter__card {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer__container {
    margin: 0;
    padding: 1rem 2rem;
    justify-content: space-between;
  }
  .footer__content {
    gap: 1.5rem;
  }
  .footer__rights {
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .nav {
    display: flex;
    justify-content: space-between;
  }
  .menucolor__list li a {
    color: var(--blue-dark);
  }
  .journey__header .journey__title,
  .journey__subtitle {
    width: 600px;
    text-align: initial;
  }
  .menu__content .menu__filtercard {
    grid-template-columns: repeat(5, 1fr);
  }
  .store__content .store__filter__card {
    grid-template-columns: repeat(4, 1fr);
  }
  .footer__content {
    justify-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .nav {
    justify-content: space-between;
  }
  .menucolor__list li a {
    color: var(--blue-dark);
  }
  .home__data {
    width: 40%;
  }
  .bestseller {
    margin-top: 2rem;
  }
  .journey__header .journey__title,
  .journey__subtitle {
    width: 600px;
    text-align: initial;
  }
  .menu__content .menu__filter-card {
    grid-template-columns: repeat(5, 1fr);
  }
  .store__content .store__filter__card {
    grid-template-columns: repeat(5, 1fr);
  }
}

/* For tall screens on mobiles y desktop*/
@media screen and (min-height: 721px) {
  body {
    margin: 0;
  }
}
