/* ============= ROOT PAGE ============= */
/* COLOR */
:root {
  --black: black;
  --white: white;
  --blue-light: #0250c5;
  --blue-dark: #023e97;
  --grey-ligth: #c6c5c3;
  --grey-dark: #b2b0ae;
  --orange-light: #ffae3d;
  --orange-dark: #ff9b0f;

  /* HOVER OVERLAY */
  --img-transition: 0.3s;
  --img-hidden: hidden;
  --img-scale: scale(1.1);
}

/* ============= BASE PAGE ============= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 3rem 0 0 0;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.main {
  overflow-x: hidden;
}

/* ============= CSS CLASSES PAGE ============= */
.section {
  padding: 3.5rem 0 2rem;
}

.container {
  margin: 0 1rem;
}

.section__title1 {
  text-align: center;
  font-size: 2.5rem;
  color: var(--blue-dark);
  /* color: transparent; */
  /* background-color: transparent; */
  /* -webkit-text-stroke: 1px var(--blue-dark); */
  /* text-shadow: 0 0 2px; */
  letter-spacing: 1px;
  margin: 0 1rem;
}

.section__title2 {
  color: var(--grey-dark);
  text-align: center;
  font-size: 1.3rem;
  margin: 0 1rem;
}

/* ============= HEADER PAGE ============= */
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  height: 4rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* ============= NAV PAGE ============= */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  margin: 0 2.5rem;
}

.nav__logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--white);
}

.nav__toggle {
  color: var(--white);
  font-size: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: var(--white);
    top: 0;
    right: -100%;
    width: 65%;
    height: 100%;
    box-shadow: -1px 0 4px rgba(14, 55, 63, 0.15);
    padding: 2rem;
    transition: 0.4s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  margin-top: 2.5rem;
}

.nav__link {
  color: var(--blue-dark);
  font-weight: 600;
}

.nav__link:hover {
  color: var(--blue-light);
}

.nav__close {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  font-size: 1.5rem;
  color: var(--blue-dark);
  cursor: pointer;
}

/* SHOW NAVBAR */
.show-menu {
  right: 0;
}

.active-link {
  position: relative;
  color: var(--blue-light);
}

.active-link::before {
  content: "";
  position: absolute;
  background-color: var(--blue-light);
  width: 100%;
  height: 1px;
  bottom: -0.25rem;
  left: 0;
}

/* SHOW CHANGE COLOR NAV */
.scroll-header {
  background-color: var(--white);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.scroll-header .nav__logo,
.scroll-header .nav__toggle {
  color: var(--blue-dark);
}

/* ============= HOME PAGE ============= */
.home__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: 40%;
}

.home__container {
  position: relative;
  height: calc(100vh - -2rem);
  align-content: center;
}

.home__data {
  margin-left: 1rem;
}

.home__subtitle {
  display: block;
  color: var(--white);
  font-size: 2.5rem;
}

.home__title {
  font-size: 0.8rem;
  color: var(--white);
}

.home__button {
  background-color: var(--orange-dark);
  padding: 0.5rem 1rem;
  transition: 0.3s;
  border-radius: 10px;
  outline: none;
  border: none;
  margin-top: 0.5rem;
}

.home__button:hover {
  background-color: var(--orange-light);
}

.home__button a {
  color: var(--white);
  font-size: 0.8rem;
}

/* WHATSAPP POP UP */
.whatsapp-btn-container {
  position: fixed;
  right: 1px;
  bottom: -100px;
  padding: 24px;
  z-index: 7;
  opacity: 0;
  animation: fade-up 3000ms forwards;
}

.whatsapp-btn-container span {
  color: var(--black);
}

.whatsapp-us-btn {
  font-size: 50px;
  color: #25d366;
  display: inline-block;
  transition: all 200ms;
}

.whatsapp-btn-container .whatsapp-us-btn:hover {
  transform: scale(1.1);
}

.whatsapp-btn-container span {
  display: inline-block;
  position: absolute;
  top: -5px;
  left: 4px;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  /* transform: rotate(0deg) translateX(0px); */
  opacity: 0;
  transition: all 200ms;
}

.whatsapp-btn-container .whatsapp-us-btn:hover + span {
  opacity: 1;
}

@keyframes fade-up {
  100% {
    bottom: -25px;
    opacity: 1;
  }
}

/* ============= BEST SELLER PAGE ============= */
.bestseller__container {
  overflow: hidden;
}

.bestseller__card {
  margin: 1rem 0;
}

.bestseller__img {
  width: 300px;
  transition: var(--img-transition);
  border-radius: 20px;
}

.bestseller__img:hover {
  transform: var(--img-scale);
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-container {
  position: relative;
}

.swiper-pagination {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.swiper-pagination-bullet {
  background: var(--blue-dark);
  border-radius: 50%;
  width: 5px;
  height: 5px;
  margin: 0 5px;
  opacity: 0.4;
  z-index: 1;
}

.swiper-pagination-bullet-active {
  width: 7px;
  height: 7px;
  opacity: 1;
  background: #007bff;
}

/* ============= JOURNEY PAGE ============= */
.journey__data {
  text-align: center;
  color: var(--grey-dark);
}

.journey__title span {
  font-size: 1.2rem;
  font-weight: 900;
}

.journey__img {
  margin: 1rem 0;
  width: 300px;
  transition: var(--img-transition);
}

.journey__img img {
  width: 100%;
}

.journey__img-overlay:hover {
  transform: var(--img-scale);
}

/* ============= REVIEW PAGE ============= */
.review__container {
  overflow: hidden;
  margin-top: 2rem;
}

.review__card-main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 300px;
  height: 350px;
  padding: 10px 20px;
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 1.2rem 0;
}

.review__img-cust {
  width: 100px;
  border-radius: 100%;
}

.review-pagination {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.review-pagination .swiper-pagination-bullet {
  background: var(--blue-dark);
  border-radius: 50%;
  width: 5px;
  height: 5px;
  margin: 0 5px;
  opacity: 0.4;
  z-index: 1;
}

.review-pagination .swiper-pagination-bullet-active {
  width: 7px;
  height: 7px;
  opacity: 1;
  background: #007bff;
}

/* ============= CUSTOMER PAGE ============= */
.customer .subtitle {
  color: var(--grey-dark);
  text-align: center;
}

.customer__data {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.customer__content {
  display: flex;
  width: 75px;
  height: 75px;
  justify-content: center;
  align-items: center;
}

.customer__img {
  width: 70px;
  transition: var(--img-transition);
}

.customer__img:hover {
  transform: var(--img-scale);
}

/* ============= FOOTER PAGE ============= */
.footer {
  margin-top: 2rem;
}

.footer__container {
  display: grid;
  margin-bottom: 3rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.footer__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  row-gap: 2rem;
  margin-top: 1rem;
}

.footer__title {
  font-size: 1rem;
  margin-bottom: 5px;
  color: var(--grey-dark);
}

.footer__description {
  font-size: 0.8rem;
  color: var(--grey-ligth);
}

.footer__contact {
  display: flex;
  margin-bottom: 0.5rem;
}

.footer__contact p {
  margin-left: 10px;
}

.footer__contact span {
  color: var(--grey-dark);
  font-size: 1rem;
}

.footer__rights {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  padding: 10px 0;
  text-align: center;
  border-top: 1px solid var(--grey-ligth);
}

.footer__copy,
.footer__terms-link {
  font-size: 0.8rem;
  color: var(--grey-ligth);
}

.footer__terms {
  display: flex;
  column-gap: 1.5rem;
  justify-content: center;
}

/* SCROLL UP */
.scrollup {
  position: fixed;
  right: 50%;
  bottom: -20%;
  background-color: var(--orange-dark);
  padding: 0.5rem;
  display: flex;
  opacity: 0.7;
  z-index: 1;
  transition: 0.4s;
}

.scrollup:hover {
  background-color: var(--orange-light);
  opacity: 1;
}

.scrollup__icon {
  color: var(--white);
  font-size: 1rem;
}

.show-scroll {
  bottom: 20px;
}

/* SCROLL BAR */
::-webkit-scrollbar {
  width: 0.6rem;
  background-color: var(--grey-ligth);
}

::-webkit-scrollbar-thumb {
  background-color: var(--grey-dark);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--grey-dark);
}

/* ============= MEDIA QUERIES PAGE ============= */
/* For small devices */
@media screen and (max-width: 340px) {
  .home__data {
    margin: 0;
  }
  .journey__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

/* For medium devices */
@media screen and (min-width: 341px) and (max-width: 767px) {
  .section__title1,
  .section__title2 {
    margin: 0 2rem;
  }
  .section__title2 {
    margin-bottom: 1rem;
  }
  .nav__list {
    margin-top: 2.5rem;
  }
  .home__data {
    width: 70%;
  }
  .journey__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .journey__data {
    margin-bottom: 1rem;
  }
  .customer__data {
    margin: 2rem 0;
  }
  .footer__content {
    gap: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .nav__link {
    color: var(--white);
    text-transform: initial;
  }
  .nav__link:hover {
    color: var(--grey-ligth);
  }
  .nav__menu {
    display: flex;
    column-gap: 1rem;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 1.5rem;
    margin-top: 0;
  }
  .nav__toggle,
  .nav__close {
    display: none;
  }
  .active-link::before {
    background-color: var(--grey-ligth);
  }
  .scroll-header .nav__link {
    color: var(--blue-dark);
  }
  .scroll-header .nav__link:hover {
    color: var(--blue-light);
  }
  .scroll-header .active-link {
    color: var(--blue-dark);
  }
  .scroll-header .active-link::before {
    background-color: var(--blue-ligth);
  }
  .home__data {
    width: 65%;
  }
  .bestseller__container {
    margin-top: 2rem;
  }
  .journey__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .journey__subtitle {
    margin-bottom: 0.5rem;
  }
  .journey__data .journey__subtitle,
  .journey__title {
    width: 450px;
    text-align: initial;
  }
  .footer__container {
    margin: 0;
    padding: 1rem 2rem;
    justify-content: space-between;
  }
  .footer__content {
    gap: 1.5rem;
  }
  .footer__rights {
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .nav {
    display: flex;
    justify-content: space-between;
  }
  .journey__data .journey__subtitle,
  .journey__title {
    width: 600px;
    text-align: initial;
  }
  .footer__content {
    justify-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .nav {
    justify-content: space-between;
  }
  .home__data {
    width: 40%;
  }
  .bestseller {
    margin-top: 2rem;
  }
  .journey__data .journey__subtitle,
  .journey__title {
    width: 600px;
    text-align: initial;
  }
}

/* For tall screens on mobiles y desktop*/
@media screen and (min-height: 721px) {
  body {
    margin: 0;
  }
}
